# SQL University data analysis

Descriptive analysis of our data with SQL queries

## Importing libraries and establishing SQL Workbench connection

In [1]:
import pandas as pd
import pymysql
import sqlalchemy as alch
import os
from dotenv import load_dotenv
from getpass import getpass

In [2]:
students_df = pd.read_csv('../data/processed/students_df.csv')
uni_access_df = pd.read_csv('../data/processed/uni_access_df.csv')
previous_education_df = pd.read_csv('../data/processed/previous_education_df.csv')
preinscripcions_df = pd.read_csv('../data/processed/preinscripcions_df.csv')
matricules_df = pd.read_csv('../data/processed/matricules_df.csv')
notes_df = pd.read_csv('../data/processed/notes_df.csv')
titulacions_df = pd.read_csv('../data/processed/titulacions_df.csv')

In [3]:
load_dotenv()

True

In [4]:
token = os.getenv("token")

In [5]:
dbName = "university"
connectionData = f"mysql+pymysql://root:{token}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

#Adding/replacing the tables in the "university" database

students_df.to_sql("students", if_exists="replace", con=engine, index=False)
uni_access_df.to_sql("university_access", if_exists="replace", con=engine, index=False)
previous_education_df.to_sql("previous_education", if_exists="replace", con=engine, index=False)
matricules_df.to_sql("matricules", if_exists="replace", con=engine, index=False)
notes_df.to_sql("notes", if_exists="replace", con=engine, index=False)
titulacions_df.to_sql("titulacions", if_exists="replace", con=engine, index=False)

11

## University queries

In [ ]:
query = """SELECT ROUND(SUM(NA_Sales),2) as North_America ,
        ROUND(SUM(EU_Sales),2) as Europe,
        ROUND(SUM(JP_Sales),2) as Japan,
        ROUND(SUM(Other_Sales),2) as Other 
        FROM video_games
        WHERE Name LIKE '%%Pokemon%%';"""

In [ ]:
pd.read_sql_query(query, engine)