# SQL University data analysis

Descriptive analysis of our data with SQL queries

## Importing libraries and establishing SQL Workbench connection

In [2]:
import pandas as pd
import pymysql
import sqlalchemy as alch
import os
from dotenv import load_dotenv
from getpass import getpass

In [3]:
students_df = pd.read_csv('../data/processed/students_df.csv')
uni_access_df = pd.read_csv('../data/processed/uni_access_df.csv')
previous_education_df = pd.read_csv('../data/processed/previous_education_df.csv')
preinscripcions_df = pd.read_csv('../data/processed/preinscripcions_df.csv')
matricules_df = pd.read_csv('../data/processed/matricules_df.csv')
notes_df = pd.read_csv('../data/processed/notes_df.csv')
titulacions_df = pd.read_csv('../data/processed/titulacions_df.csv')
renta_disponible = pd.read_csv('../data/processed/renta_disponible.csv')

In [4]:
load_dotenv()

True

In [5]:
token = os.getenv("token")

In [6]:
dbName = "university"
connectionData = f"mysql+pymysql://root:{token}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

#Adding/replacing the tables in the "university" database


uni_access_df.to_sql("university_access", if_exists="replace", con=engine, index=False)
previous_education_df.to_sql("previous_education", if_exists="replace", con=engine, index=False)
matricules_df.to_sql("matricules", if_exists="replace", con=engine, index=False)
notes_df.to_sql("notes", if_exists="replace", con=engine, index=False)
titulacions_df.to_sql("titulacions", if_exists="replace", con=engine, index=False)
students_df.to_sql("students", if_exists="replace", con=engine, index=False)

OperationalError: (pymysql.err.OperationalError) (3730, "Cannot drop table 'matricules' referenced by a foreign key constraint 'fk_matricules_id_notes' on table 'notes'.")
[SQL:
DROP TABLE matricules]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [7]:
renta_disponible.to_sql("renta_disponible", if_exists="replace", con=engine, index=False)

328

## University queries

In [ ]:
query = """SELECT ROUND(AVG(NA_Sales),2) as North_America ,
        ROUND(SUM(EU_Sales),2) as Europe,
        ROUND(SUM(JP_Sales),2) as Japan,
        ROUND(SUM(Other_Sales),2) as Other 
        FROM video_games
        WHERE Name LIKE '%%Pokemon%%';"""

In [ ]:
pd.read_sql_query(query, engine)

In [ ]:
#Previous university studies

In [ ]:
final_merge_students[final_merge_students['estudis_universitaris'] == 1]['titulacio_nivell_assolit'].value_counts()

In [ ]:
final_merge_students[final_merge_students['estudis_universitaris'] == 1]['modalitat_acces'].value_counts()

In [ ]:
#Secondary school bachillerato

In [ ]:
print(final_merge_students['tipus_centre_secundaria'].value_counts())
print(final_merge_students['tipus_lloc_secundaria'].value_counts())

In [ ]:
#Nacionales vs internacionales?
nacionalitat != 'ESP'